In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\asus\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\asus\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
a=pd.Series([10,20,30,40],index=["a","b","c","d"])
print(a)

a    10
b    20
c    30
d    40
dtype: int64

In [3]:
#Dataframe 2d structure
data={
    "name":["Tanmay","Sudip","Yash"],
    "Age":[21,21,20],
    "Salary":[2000,2000,1000]
}
df=pd.DataFrame(data)
print(df)

     name  Age  Salary
0  Tanmay   21    2000
1   Sudip   21    2000
2    Yash   20    1000

In [6]:
#Read and write data:
df = pd.read_csv(r"C:\Users\Asus\OneDrive\Desktop\Python for data science\data analytics\Data.csv")
#df = pd.read_excel("data.xlsx")
#df = pd.read_json("data.json")

In [7]:
#Inspect the data :
df.head()
df.tail()
df.info()
df.describe()
df.shape
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9568 entries, 0 to 9567
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AT      9568 non-null   float64
 1   V       9568 non-null   float64
 2   AP      9568 non-null   float64
 3   RH      9568 non-null   float64
 4   PE      9568 non-null   float64
dtypes: float64(5)
memory usage: 373.9 KB

Index(['AT', 'V', 'AP', 'RH', 'PE'], dtype='object')

In [10]:
#Select column:
df["AP"]
df[["AP","RH"]].head()

        AP     RH
0  1024.07  73.17
1  1020.04  59.08
2  1012.16  92.14
3  1010.24  76.64
4  1009.23  96.62

In [15]:
#Access rows:
df.loc[2:]
df.iloc[2:]

         AT      V       AP     RH      PE
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
5     26.27  59.44  1012.23  58.77  443.67
6     15.89  43.96  1014.02  75.24  467.35
...     ...    ...      ...    ...     ...
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9566 rows x 5 columns]

In [16]:
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [21]:
#Filter rows:
df[df["AT"]>20]

         AT      V       AP     RH      PE
1     25.18  62.96  1020.04  59.08  444.37
3     20.86  57.32  1010.24  76.64  446.48
5     26.27  59.44  1012.23  58.77  443.67
11    20.14  46.93  1014.66  64.22  453.99
12    24.34  73.50  1011.31  84.15  440.29
...     ...    ...      ...    ...     ...
9559  26.22  49.82  1015.48  55.80  454.20
9560  23.27  68.28  1005.01  74.83  444.86
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[4913 rows x 5 columns]

In [22]:
df["AT"] = df["RH"] * 0.1
df["AT"] += 1

In [23]:
#Rename column:
df.rename(columns={"AT":"AH"},inplace=True )

In [26]:
#handle missing values:
df.isnull()
df.isnull().sum()
df.dropna()
df.duplicated()
df.drop_duplicates()

          AH      V       AP     RH      PE
0      8.317  41.76  1024.07  73.17  463.26
1      6.908  62.96  1020.04  59.08  444.37
2     10.214  39.40  1012.16  92.14  488.56
3      8.664  57.32  1010.24  76.64  446.48
4     10.662  37.50  1009.23  96.62  473.90
...      ...    ...      ...    ...     ...
9563  10.100  49.69  1014.01  91.00  460.03
9564   7.678  39.18  1023.67  66.78  469.62
9565   4.648  74.33  1012.92  36.48  429.57
9566   7.239  69.45  1013.86  62.39  435.74
9567   7.787  62.52  1017.23  67.87  453.28

[9527 rows x 5 columns]

In [28]:
#Sort Values:
df.sort_values("AH", ascending=False)
df.sort_values(["AH", "RH"])

          AH      V       AP      RH      PE
8061   3.556  74.67  1016.24   25.56  425.58
789    3.589  74.67  1015.98   25.89  427.84
9015   3.630  74.67  1016.10   26.30  428.48
4367   3.667  74.67  1016.03   26.67  427.69
2262   3.816  74.67  1015.94   28.16  427.98
...      ...    ...      ...     ...     ...
8909  11.014  40.55  1016.63  100.14  472.19
379   11.015  25.36  1009.35  100.15  469.43
3125  11.015  39.10  1010.17  100.15  470.55
9134  11.015  37.83  1005.05  100.15  472.46
5892  11.016  25.36  1009.59  100.16  470.96

[9568 rows x 5 columns]